body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  margin: 0;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: #181818;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #4f46e5;
  color: white;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  background: #111;
  padding: 15px;
  text-align: center;
}

#messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  background: #111;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  margin-right: 5px;
}
